@keyframes move-background{
	0%{
		background-position: 0% 50%;
	}
	50%{
		background-position: 100% 50%;
	}
	100%{
		background-position: 0% 50%;
	}
}

@keyframes translate-around{
	0%{
		opacity: 0.35;
		transform: translateX(0) rotate(0) scale(2);
	}
	50%{
		opacity: 0.45;
		transform: translateX(-50%) rotate(10deg) scale(3);
	}
	100%{
		opacity: 0.35;
		transform: translateX(0) rotate(0) scale(2);
	}
}