# IDE config files
.vscode

# WP private files
wp-config.php
wp-content/uploads

# Plugin private files
wp-content/plugins/wp-user-avatars/img/letters/*

# Non-core plugins (I'm installing them to make sure they keep working)
wp-content/plugins/classic-commerce-master
