# IDE config files
.vscode
.idea

# WP private files
wp-config.php
wp-content/uploads

# Plugin private files
wp-content/plugins/wp-user-avatars/img/letters/*

# Non-core plugins (I'm installing them to make sure they keep working)
wp-content/plugins/classic-commerce-master
wp-content/plugins/query-monitor-3.8.2
wp-content/plugins/contact-form-7.5.1.9
