.sidebyside-text-video {
  position: relative;
  display: grid;
  gap: 2rem;
  padding: 4rem;

  .text {

    h1 {
      font-size: 3rem;
    }

    p {
      line-height: 1.8;
    }

  }

  iframe {
    width: 100%;
  }

  /* Up until 770px */
  @media (max-width: 770px) {
    grid-template-columns: 1fr;
  }

  /* From 770px on */
  @media (min-width: 770px) {

    &.order-video-text {
      grid-template-columns: 5fr 5fr;
    }

    &.order-text-video {
      grid-template-columns: 5fr 5fr;
    }

  }

}