// Fonts
$font-primary: 'ChaletBook', sans-serif;
$font-primary--medium: 'ChaletBook', sans-serif;
$font-primary--bold: 'ChaletBook-Bold', sans-serif;
$font-secondary: 'Alternate Gothic No2 D', 'sans-serif';
$font-museo: 'Museo Sans 300','sans-serif';


// Colors
$color-blue: #0cb9c0;
$color-yellow: #ffc840;
$color-orange: #f48920;
$color-gray: #525650;
$color-black: #111110;
$color-light: #f3f4f0;
$color-white: #fffff0;
