:root{
  --color-primary-a: #ffffff;
  --color-primary-b: #f2f2f2;
  --color-primary-contrast-a: rgb(30, 15, 10);
  --color-primary-contrast-b: rgb(10, 5, 10);
  --color-secondary-a: #0cb9c0;
  --color-secondary-b: #f48920;
  --color-secondary-contrast-a: rgb(30, 15, 10);
  --color-secondary-contrast-b: rgb(10, 5, 10);
  --font-primary: Verdana, sans-serif;
  --font-secondary: Garamond, serif;
}